:root {
  --color_principal: #19325b;
  --blanco: white;
  --font_sizeprincipal: 17px;
}

body {
}
.titulo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: var(--color_principal);
}
.navbar a {
  font-size: var(--font_sizeprincipal);
}
.galeria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Galeria_principal {
  width: 79vw;
  height: 70vh;
  margin-top: 30px;
}

.Galeria_principal img {
  width: 79vw;
  height: 70vh;
}

/* ---------------------------------------------------------------------------------------
                               seccion nosotros
------------------------------------------------------------------------------------------------ */
.container {
  margin-top: 30px;
}
.container img {
  max-width: 300px;
  min-width: 150px;
}
.fila_articulo {
  padding: 60px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-imagen {
  border: 1px solid red;
}

/* ---------------------------------------------------------------------------------------
                              footer
------------------------------------------------------------------------------------------------ */
footer {
  width: 98%;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 30px;
}
.footer-propidades {
  background-color: var(--color_principal);
  color: var(--blanco);
}
.redes {
  width: 45px;
  height: 35px;
}

.c-redes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.containercentro {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
