:root {
  --color_principal: #19325b;
  --blanco: white;
  --color_botones1: #327889;
  --font_sizeprincipal: 17px;
}

.navbar a {
  font-size: var(--font_sizeprincipal);
}
main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.titulo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo2 {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_principal {
  background-color: var(--color_principal);
  height: 50px;
}
a {
  color: white;
}
.contenedor-login {
  border: 1px solid rgb(0, 17, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 400px;
  height: 40vh;
}

label {
  font-size: 18px;
  margin: 10px;
  margin-left: 30px;
}
input {
  margin-bottom: 20px;
  height: 35px;
  width: 85%;
  margin-left: 30px;
}
.btn-iniciarsesion {
  width: 120px;
  height: 34px;
  background-color: var(--color_botones1);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}
